.banner{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230705/pngtree-3d-render-of-a-food-delivery-application-image_3792449.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background: #000;
    opacity: .4;
}



   @media only screen and (max-width: 900px) {
    .banner {
      height: 40vh;
    }
    .cover{
      height: 40vh;
    
  }
  
.fadout {
  
   bottom: -3rem;
   height: 20vw;
   
 }
  }
  